---
import type { CollectionEntry } from "astro:content";
import { categories } from "../types";
import { format } from "date-fns/fp";

type Props = {
    post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
const category = categories[post.data.category];
---

<li class="card">
    <a href={`/${post.collection}/${post.slug}`}>
        <h4>
            {post.data.title}
        </h4>
        <small>
            Published on {format("yyyy-MM-dd", post.data.pubDate)}
            <span class="badge">{post.data.category}</span>
        </small>
        <p>
            {post.data.description}
        </p>
    </a>
</li>
<style
    define:vars={{
        "category-dark-color": category.color.dark,
        "category-light-color": category.color.light,
    }}
>
    .card {
        list-style: none;
    }
    .card > a {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;
        text-decoration: none;
        padding: 1.5rem;
        border: 1px solid rgba(var(--category-dark-color), 0.6);
        border-radius: 0.5rem;
        background-color: rgba(var(--category-dark-color), 0.05);
    }
    .card > a > * {
        color: rgb(var(--fg-dark-color));
        margin: 0;
    }
    .card:is(:hover, :focus-within) > a {
        background-color: rgba(var(--category-dark-color), 0.1);
    }
    @media (prefers-color-scheme: light) {
        .card > a > * {
            color: rgb(var(--fg-light-color));
        }
        .card > a {
            border: 1px solid rgba(var(--category-light-color), 0.6);
            background-color: rgba(var(--category-light-color), 0.05);
        }
        .card:is(:hover, :focus-within) > a {
            background-color: rgba(var(--category-light-color), 0.1);
        }
    }
</style>
